{% extends 'base.html' %}
{% block title %}
    Main page
{% endblock %}

{% block search %}
{% endblock %}

{% block content %}
    <div class="main_page">
        <h1 class="title">RevieWs</h1>
        {% for product in products %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name}}</h5>
                    <p class="card-text">{{ product.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ product.get_category_display}}</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Подробнее...</a>
                    <a href="#" class="card-link">Редактировать</a>
                    <a href="#" class="card-link">Удалить</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="new_task">
{#        <a href="{% url "product_create" %}" class="btn btn-primary btn-lg btn-block">Добавить новый продукт</a>#}
    </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}

