{% extends 'base.html' %}
{% block title %}Product{% endblock %}

{% block auth_menu %}
    {% if request.user.is_authenticated %}
        {% if perms.webapp.add_task %}
            <a href="{% url "review_create" product.pk %}" class="nav-link active">Добавить новую задачу</a>
        {% endif %}
        <li class="nav-item active"><a class="nav-link" href="{% url 'accounts:logout' %}">Выйти</a></li>
    {% else %}
        <li class="nav-item active"><a class="nav-link" href="{% url 'accounts:login' %}">Войти</a></li>
        <li class="nav-item active"><a class="nav-link" href="{% url 'accounts:create' %}?next={{ request.get_full_path }}">Sign Up</a></li>
    {% endif %}
{% endblock %}


{% block content %}
    <div class="container">
        <h1 class="title">Product View</h1>
        <div class="card text-center">
            <div class="card-header">
                <h4 class="card-title">{{ product.name }}</h4>
            </div>
            <div class="card-body">
            {% if product.image %}
                <img class="avatar" src="{{ product.image.url }}" width="225" height="225" alt="user picture">
            {% else %}
                <img class="avatar" src="../../static/img/pusto.png" width="225" height="225" alt="user picture">
            {% endif %}
                <p class="card-text">Описание: {{ product.description }}</p>
                <a href="{% url 'index' %}" class="btn btn-primary" >На главную</a>
                {% if perms.webapp.change_product%}
                    <a href="{% url 'product_update' product.pk %}" class="btn btn-primary">Обновить</a>
                {% endif %}
                {% if perms.webapp.delete_product %}
                    <a href="{% url 'product_delete' product.pk %}" class="btn btn-primary">Удалить</a>
                {% endif %}

                {% for review in reviews %}
                    <div class="task-card card w-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ review.author }}</h5>
                            <p class="card-title">Описание задачи: {{ review.description }}</p>
                            {% if perms.webapp.change_review %}
                                <a href="{% url 'review_update' review.pk %}" class="btn btn-primary">Изменить</a>
                            {% endif %}

                            {% if perms.webapp.delete_review%}
                                <a href="{% url 'review_delete' review.pk %}" class="btn btn-primary">Удалить</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                <div class="new_task">
                    {% if perms.webapp.add_review %}
                        <a href="{% url "review_create" product.pk %}" class="btn btn-primary btn-lg btn-block">Добавить новый отзыв</a>
                    {% endif %}
                </div>

            </div>
            <div class="card-footer text-muted">
{#                Дата создания: {{ project.start_date }}{% if project.end_date %} | Дата завершения: {{ project.end_date }}{% endif %}#}
            </div>
        </div>
    </div>
{% endblock %}