{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
<div class="card">
    <form action="{% url 'review_delete' review.pk %}" method="post">
        {% csrf_token %}
        <h5 class="card-header">Удаление</h5>
        <div class="card-body">
            <h5 class="card-title">Проект: "{{ project.name }}"</h5>
            <h5 class="card-title">Вы действительно хотите удалить отзыв "{{ review.author }}"?</h5>
            <p class="card-text">Описание: {{ review.description }}</p>
            <p><input type="submit" class="btn btn-primary btn-lg btn-block" value="Да"></p>
            <a class="btn btn-primary btn-lg btn-block"  href="{% url 'product_view' review.product.pk %}">Нет</a>
        </div>
    </form>
</div>

{% endblock %}